body {
    background: #CB997E;
    margin: 0;
  }

  nav{
    background: #CB997E ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-size: 18px;
  }
  .icones{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
    
  }
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(165, 165, 141, 0.97);
    overflow-x: hidden;
  }
  
  
  .overlay-content {
    width: 100%;
    text-align: center;
    margin-top:100px ;
  }
  
  .overlay h1{
    font-size:50px;
    color: #f1f1f1;
  }
  .overlay-footer{
    background: rgba(0, 0, 0, 0.25);
    padding: 67px;
    margin :auto;
  }
  .overlay a {
    padding: 15px;
    text-decoration: none;
    font-size: 36px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
  }
  .overlay .closebtn {
    position: absolute;
    font-size: 100px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
  /*--------------------------------------- FIN de la NAVBAR */
.image-banner {
  width: 100%;
  height: auto;
  overflow: hidden;
  }
  
  .image-banner img {
    width: 100%; 
    display: block;
  }
  
  /* ------------------------------------------------------------------- */
  h1{
    text-align: center;
  }
  form {
    margin: 10%;
    background: #C7815C;
    padding: 0px 40px 5px 20px;
    margin-bottom:40px ;
    box-shadow: 0px 4px 2px 2px rgba(0, 0, 0, 0.25);
  }
  
  p {
    margin: auto 0 20px;
    text-align: center;
  }
  .form-row {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }

  .form-label {
    margin-bottom: 5px;
    font-size: x-large;
  }

  .form-input {
    width: 100%;
    padding: 5px;
    height: 32px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.25);
  }
  .form-textarea{
    margin: 10px 0 10px 0;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.25);
  }

  button {
    background: #B4724F;
    padding: 13px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    display: block;
    margin: 5px auto 15px auto;
    width: 80%;
  }

  /* --------------FIN DU FORMULAIRE */
  .parent {
    box-shadow: 0px 4px 2px 2px rgba(0, 0, 0, 0.25);
    margin: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    }
    .info-ekea{
      padding: 10% 0;
      background: #C7815C;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  h2{
    text-decoration: underline ;
  }
  /* -------FIN DU GRID */

  footer{
    text-align: center;
    padding: 15px;
    background: rgba(30, 30, 30, 0.82);
    color: white;
  }
  footer p{
    margin :0;
    margin-top: 20px;
  }
  h3{
    font-size:xx-large ;
    margin:0;
  }


  @media (min-width: 580px) {
    body{
      background: #f1f1f1;
    }
    .form-row {
      flex-direction: row;
      align-items: center;
    }

    .form-label {
      width: 100px;
      margin-right: 20px;
      margin-bottom:5px ;
      text-align: right;
    }

    .form-input {
      padding: 1%;
      width: 100%;
    }
        footer{
      display: flex;
      align-items: baseline;
      justify-content: space-around;
    }

  }