@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.titre{
display: flex;
justify-content: center;
text-align: center;
font-size: large;
}


.img1 img{
margin-left: 10%;
width: 35%;
height: 35%;
}


.img2 img{
margin-left: 10%;
width: 35%;
height: 35%;
padding-top: 5%;
}


.img3 img{
margin-left: 10%;
width: 35%;
height: 35%;
padding-top: 5%;
}

h3{
  display: flex;
  justify-content: center;
}

@media (min-widht: 580px) {
   
  
}